@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f7fd;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 24px;
  position: relative;
  z-index: 1;
  justify-content: center;
}

.card {
  border : none;
  /* width : 300px ; */
  min-height: 374px;
  max-height : fit-content;
  position: relative;
  border-radius: .5rem;  
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding-bottom: 18px;
  background: #ffffff;  
}

.img {
  object-fit: cover;
  width: 100%;
  height: 152px;
  margin: 0;
  /* border-bottom: 1px solid black; */
  position: relative;
  top: -.2px;
  box-sizing: border-box;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}


.badge {
  position: absolute;
  top: 137px;
  left: -8.2px;
  background: #5a4dea; /* #7265ef; */
  padding: 5px 16px 5px 10px;
  padding-left: 18px;
  font-size: 12px;
  border-radius: .4em;
  font-weight: 600;
  border-top-left-radius: .6rem;
  z-index: 1;
  color: #fff;
  display: flex;
  align-items: center;
  gap : 5px;
  font-family: 'Fira Code', monospace;
}

.badge::after {
  content: "";
  position: absolute;
  z-index: 0;
  left: 1px;
  top: 9px;
  width: 7px;
  height: 20px;
  background: linear-gradient(#5a4dea, #5347a4);
  border-bottom-left-radius: 10rem;
  box-sizing: border-box;
}

@media (max-width : 1290px) {
  .loadingSvg {
      left: 45.8%;
  }   
}

@media (max-width : 1080px) {
  .mainContainer {
      background-color: transparent;
      margin: 42px 20px 32px 20px;
  }
  .cardContainer {
      place-items: center;
  }
  .loadingSvg {
      left: 45%;
  }   
}

@media (max-width : 980px) {
  .cardContainer {
      gap: .01%;
      place-items: normal;
      margin-left: 0;
      margin-right: 0;
  }
  .card {
      width: 280px;
      transform: scale(0.9,0.9);
  }
}

@media (max-width : 860px) {
  .cardContainer {
      grid-template-columns: 1fr 1fr;
      place-items: center;
      gap: 24px;
  }
  .card {
      width: 350px;
      transform: scale(1,1);
      min-height: 360px;
  }
  .img {
      min-height: 250px;
  }
  .badge {
      top : 235px;
  }
}

@media (max-width : 760px) {
  .card{
      width: 95%;
  }
}

@media (max-width : 650px) {
  .cardContainer {
      grid-template-columns: 1fr;
  }
  .img {
      min-height: 300px;
  }
  .badge {
      top : 285px;
  }
  .loadingSvg {
      left: 40%;
      top: 70%;
  }
}

@media (max-width : 320px) {
  .card {
      width: 100%;
  }
  .card .cardFooter {
      font-size: 8px;
      transform: scale(1.15,1.15);
  }
}